{% extends 'SasedevSharedBundle::basehtml.tpl.twig' %}
{%if menu_active is not defined%}
{%set menu_active=''%}
{%endif%}
{%if smenu_active is not defined%}
{%set smenu_active=''%}
{%endif%}
{%if tabActive is not defined%}
{%set tabActive=1%}
{%endif%}
{%if admmenu_active is not defined%}
{%set admmenu_active=''%}
{%endif%}
{%if sadmmenu_active is not defined%}
{%set sadmmenu_active=''%}
{%endif%}
{% block htmlHeadMetas %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="author" content="{{ siteauthor }}">
	<meta name="description" content="{{ sitename }}">
{{ parent() }}
{% endblock htmlHeadMetas %}
{% block htmlHeadLinks %}
{{ parent() }}
	<link rel="icon" type="image/x-icon" href="{{ absolute_url(asset('/favicon.ico')) }}">
	<link href="{{ absolute_url(asset('/res/css/app.min.css')) }}" rel="stylesheet" media="all">
{% endblock htmlHeadLinks %}
{% block htmlHeadScripts %}
{{ parent() }}
	<script src="{{ absolute_url(asset('/res/js/jq.migrate.v2.min.js')) }}"></script>
{% endblock htmlHeadScripts %}
{% block htmlBodyContent %}
{{ parent() }}
		<div class="wrapper fixed-top fixed bottom">
			{% block mainheader %}
			<header class="main-header">
				<nav class="navbar navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="{{ path('ilcfrance_stagiaire_passport_homepage') }}" class="logo">
								<img alt="{{ sitename }}" src="{{asset('/res/images/logo.png')}}" class="img-responsive" />
							</a>
							<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
								<i class="fa fa-bars"></i>
							</button>
						</div>
						{% block topmenu %}
						{% block topmenuLeft %}
						{{ include('IlcfranceResBundle:Menu:top.left.html.twig', { 'menu_active': menu_active, 'smenu_active': smenu_active, 'admmenu_active': admmenu_active, 'sadmmenu_active': sadmmenu_active, 'tabActive': tabActive })}}
						{% endblock topmenuLeft %}
						{% block topmenuRight %}
						{{ include('IlcfranceResBundle:Menu:top.right.html.twig', { 'menu_active': menu_active, 'smenu_active': smenu_active, 'admmenu_active': admmenu_active, 'sadmmenu_active': sadmmenu_active, 'tabActive': tabActive })}}
						{% endblock topmenuRight %}
						{% endblock topmenu %}
					</div>
				</nav>
			</header>
			{% endblock mainheader %}
			{% block mainsidebar %}
			{{ include('IlcfranceResBundle:Menu:sidebar.html.twig', { 'menu_active': menu_active, 'smenu_active': smenu_active, 'admmenu_active': admmenu_active, 'sadmmenu_active': sadmmenu_active, 'tabActive': tabActive })}}
			{% endblock mainsidebar %}
			<div class="dashboard-content-wrapper">
				{% block mainwrapper %}
				<section class="content-header">
					{% block pageTitle %}
					<h1>
						{% if pageTitle is defined %}
						{{ pageTitle|raw }}
						{% else %}
						Blank page <small>it all starts here</small>
						{% endif %}
					</h1>
					{% endblock pageTitle %}
					{% block breadcrumb %}
					<ol class="breadcrumb">
						<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
						<li><a href="#">Examples</a></li>
						<li class="active">Blank page</li>
					</ol>
					{% endblock breadcrumb %}
				</section>
				<section class="content">
					{{ include('SasedevSharedBundle::flash.html.twig', { 'close': true })}}
					{% block main %}{% endblock main %}
				</section>
				{% endblock mainwrapper %}
			</div>
		</div>
		{% block mainfooter %}
		<footer class="site-footer-fixed">
			<div class="footer-copyright">
				<div class="container-fluid">
					<strong>Copyright &copy; 2016 <a href="http://ilcfrance.com">ILCFrance.com</a>.</strong> All rights reserved.
				</div>
			</div>
		</footer>
		{% endblock mainfooter %}
{% endblock htmlBodyContent %}
{% block htmlBodyScripts %}
{{ parent() }}
<script src="{{ absolute_url(asset('/res/js/app.min.js')) }}"></script>
{% endblock htmlBodyScripts %}