{% extends 'IlcfranceResBundle::admin.tpl.html.twig' %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{{ path('ilcfrance_stagiaire_passport_homepage') }}">{{ faIco('dashboard') }} {{'breadcrumb.admin.dasboard'|trans|raw}}</a></li>
	<li class="active"><a href="{{ path('ilcfrance_stagiaire_passport_doc_list') }}">{{faIco('file')}} {{'Doc.breadcrumb.admin.list'|trans|raw}}</a></li>
</ol>
{% endblock breadcrumb %}
{% block main %}
<div class="row">
	<div class="col-lg-12">
		{% if is_granted('ROLE_ADMIN') %}
		<div class="well well-sm text-right">
			<a href="{{ path('ilcfrance_stagiaire_passport_doc_addGet') }}" class="btn btn-primary">{{ faIco('plus') }} {{ 'action.add'|trans }}</a>
		</div>
		{% endif %}
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">{{ 'Doc.tlabel.admin.list'|trans|raw}}</h3>
			</div>
			<div class="box-body table-responsive">
				<table id="docList" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>{{ 'Doc.originalName.label'|trans|raw }}</th>
							<th>{{ 'Doc.description.label'|trans|raw }}</th>
							<th>{{ 'Doc.mimeType.label'|trans|raw }}</th>
							<th>{{ 'Doc.size.label'|trans|raw }}</th>
							<th>{{ 'table.actions'|trans|raw }}</th>
						</tr>
					</thead>
					<tbody>
					{% if docs|length != 0 %}
						{% for doc in docs %}
						<tr>
							<td>{{ doc.originalName }} </td>
							<td>{{ doc.description|raw }}</td>
							<td>{{ doc.mimeType }} </td>
							<td>
								{%if doc.size<1024%}
									{{doc.size}} o
								{%elseif doc.size<(1024*1024)%}
									{{'%.2f'|format(doc.size/1024)}} Ko
								{%elseif doc.size<(1024*1024*1024)%}
									{{'%.2f'|format(doc.size/1024/1024)}} Mo
								{%else%}
									{{'%.2f'|format(doc.size/1024/1024/1024)}} Go
								{% endif %}
							</td>
							<td>
								<a class="btn btn-sm btn-success" href="{{path('ilcfrance_stagiaire_passport_doc_download',{'id':doc.id})}}">{{ faIco('edit') }} {{ 'action.btnDownload'|trans }}</a>
								{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-sm btn-info" href="{{path('ilcfrance_stagiaire_passport_doc_editGet',{'id':doc.id})}}">{{ faIco('edit') }} {{ 'action.edit'|trans }}</a>
								<a class="btn btn-sm btn-danger deleteConfirmDoc" href="{{path('ilcfrance_stagiaire_passport_doc_delete',{'id':doc.id})}}">{{ faIco('trash') }} {{ 'action.delete'|trans }}</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="5">{{ 'Doc.empty'|trans|raw }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% if is_granted('ROLE_ADMIN') %}
<div id="deleteConfirmDoc" class="modal modal-info fade in" tabindex="-1" doc="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 class="modal-title">{{'Doc.delete.confirm.title'|trans|raw}}</h3>
			</div>
			<div class="modal-body">
				{{'Doc.delete.confirm.txt'|trans|raw}}
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-primary danger btn-outline pull-left">{{'_yes'|trans|raw}}</a>
				<button type="button" class="btn btn-danger btn-outline pull-right" data-dismiss="modal">{{'_no'|trans|raw}}</button>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock main %}
{% block htmlBodyScripts %}
{{ parent() }}
<script type="text/javascript">
$(function() {
	{% if docs|length != 0 %}
	$('#docList').DataTable({
		"language": {
			"url": "{{ asset('/res/js/dataTablesI18N/')~(app.request.locale~'_datatables')|trans }}"
		},
		"columns": [
			null,
			null,
			null,
			null,
			{ "searchable": false, "sortable": false }
		],
		"pageLength": 10{% if is_granted('ROLE_ADMIN') %},
		fnDrawCallback : function() {
			$('.deleteConfirmDoc').on("click", function(e) {
				e.preventDefault();
				var lnk = $(this).attr('href');
				modalDeleteBtn = $('#deleteConfirmDoc').find('.danger');
				modalDeleteBtn.attr('href', lnk);
				$('#deleteConfirmDoc').modal('show');
			});
		}{% endif %}
	});
	{% endif %}
});
</script>
{% endblock htmlBodyScripts %}
